    /* // Extra small devices (portrait phones, less than 576px) */
    
    @media (max-width: 575.98px) {
        header {
            padding: 10px 0;
        }
        .menu ul li a img {
            display: none;
        }
        .menu ul li a {
            font-size: 16px;
        }
        .menu ul {
            position: relative;
            bottom: 33px;
            left: 213px;
        }
        .imag img {
            width: 100%;
        }
        .b_text {
            width: 50%;
            position: relative;
            left: 10px;
            bottom: 385px;
        }
        .b_text h1 {
            font-size: 18px;
        }
        .b_text p {
            font-size: 16px;
        }
        .b_text button {
            width: 79%;
        }
        .menu_ul {
            position: relative;
            bottom: 100px;
        }
        .h_cnt {
            z-index: 1;
            position: relative;
            bottom: 197px;
        }
        .imag {
            z-index: 0;
            margin-top: -10px;
            width: 100%;
        }
        .wrapper {
            width: 69%;
            background-color: transparent;
        }
        .wrp_txt {
            padding: 0;
            position: relative;
            right: 81px;
        }
        .wrapper1 p {
            font-size: 15px;
        }
        .wrapper img {
            width: 195%;
            margin-left: -162px;
        }
        .wrapper2 {
            margin-left: 17px;
        }
        .img_row {
            margin-top: -20px;
        }
        .w_text {
            font-size: 15px;
        }
        .w_text1 {
            margin-top: -60px;
        }
        .mbl img {
            width: 50%;
        }
        .frst {
            margin-left: 126px;
        }
        .img_row img {
            margin-bottom: 20px;
        }
        .mbl {
            margin-top: 83px;
        }
        .subs {
            margin-top: -25px;
        }
        .subs img {
            margin-left: 19px
        }
        .subs_txt {
            width: 79%;
            bottom: 140px;
            left: 34px;
        }
        .dn p {
            font-size: 15px;
        }
        .dn {
            margin: 0px 16px;
        }
        .dn_wrap {
            margin-top: -92px;
        }
        footer {
            margin-top: 5px;
            margin-bottom: 0px;
        }
        .foot_text {
            width: 72%;
            margin-left: 50px;
        }
        .ft_img {
            margin-bottom: 30px;
        }
        .ft_img img {
            margin-left: 25px;
        }
    }
    /* // Small devices (landscape phones, 576px and up) */
    
    @media (min-width: 576px) and (max-width: 767.98px) {
        .menu ul li a {
            padding: 10px 0 0 !important;
            text-align: right;
            font-size: 20px;
        }
    }
    /* // Medium devices (tablets, 768px and up) */
    
    @media (min-width: 768px) and (max-width: 991.98px) {
        .menu ul li a {
            padding: 10px 0 0 !important;
            text-align: right;
        }
        .menu ul li a img {
            display: none;
        }
        .h_cnt {
            z-index: 1;
            position: relative;
            bottom: 425px;
        }
        .menu_ul {
            position: relative;
            bottom: 44px;
        }
        .imag {
            z-index: 0;
        }
        .frst {
            width: 10%;
            margin-left: 296px;
            margin-bottom: 20px;
        }
        .wrapper2 {
            margin-left: 47px;
        }
        .img_row {
            margin-top: 74px;
        }
        .img_row img {
            margin-bottom: 20px;
        }
        .subs {
            margin-left: 0px;
        }
        .subs img {
            margin-left: 50px;
        }
        .subs_txt {
            position: relative;
            bottom: 239px;
        }
        .w_text {
            margin-left: 0px;
        }
        .ft_img img {
            margin-bottom: 30px;
            margin-left: -14px;
        }
        .comn1 {
            width: 49%;
        }
        .comn2 {
            width: 49%;
        }
    }
    /* // Large devices (desktops, 992px and up) */
    
    @media (min-width: 992px) and (max-width: 1199.98px) {
        .h_cnt {
            position: relative;
            bottom: 536px;
            left: 30px;
        }
        .wrapper img {
            position: relative;
            top: 100px;
        }
        .wrapper1 {
            padding: 60px;
        }
        .w_text1 {
            margin-left: 60px;
        }
        .wrapper2 {
            width: 87%;
        }
        .subs img {
            margin-left: 67px;
        }
        .frst {
            margin-left: 134px;
        }
        .ft {
            padding: 30px;
        }
        .ft_img img {
            margin-left: 446px;
        }
    }
    /* //Extra Large devices (large desktops, 992px and up) */
    
    @media (min-width: 1200px) and (max-width: 1399.98px) {}
    /* // Extra Extra large devices (larger desktops, 1400px and up) */
    
    @media (min-width: 1400px) {
        .menu ul li a {
            font-size: 20px;
        }
        .w_text p {
            font-size: 18px;
        }
        .w_text1 p {
            font-size: 18px;
        }
        .wrapper2 p {
            font-size: 18px;
        }
        .dn p {
            font-size: 18px;
        }
        .ft_img img {
            margin-left: 446px;
        }
    }